.myheader {
    background-color: #2b213d;
    font-weight: bold;
}

.myfooter {
    background-color: #2b213d;
    font-weight: 300;
}

.mybroder{
    border-style: groove;
    border-color: rgb(235, 234, 234);
    border-width: 1px;
    
}
.header-logo{
    height: 50px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 50%;
}
.header-logo:hover{
    transform: scale(1.1);
}
.location-icon {
height: 65px;;
}

.email-icon{
height: 80px;

}
.telephone-icon{
    height: 55px;
}

.social-image {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.social-icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
}
.social-icons:hover{
    transform: scale(1.1);
}

.modal-img{
             /* Make modal images same size */
    width: 100%;
    height: 200px;
    object-fit: cover;  /* crops the image to fit  */
    border-radius: 8px;
    margin-bottom: 15px;
}

/* card styling */
.event-card {
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
}

.card {
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.category-btn {
    border-radius: 30px;
    padding: 8px 24px;
    margin: 5px;
}
    /* 
   CUSTOM SLIDER STYLES
    */

    /* make caption appear under image */
.carousel-caption {
    position: static  ;
    right: auto  ;
    left: auto  ;
    color: #4d1b26  ;  /* dark text instead of white */
    background: transparent;
    margin-top: 15px;
}

    /* caption heading style */
.carousel-caption h5 {
    font-size:30px;
    font-weight: bold;
    color:#503f6e;  
    margin-bottom: 14px;
}

    /* caption paragraph style */
.carousel-caption p {
    font-size: 18px;
    color: #1f1f1f;
}

      /*  
             CUSTOM ARROW BUTTONS
    */
.custom-carousel-btn {
    width: 40px  ;      /* Wider click area */
    height: 40px  ;     /* Taller click area */
    background-color: #513d76  ;  
    border-radius: 50%  ;    /* circle shape */
    top: 40%  ;              /* position vertically */
    opacity: 1  ;
    transition: all 0.3s ease  ;
}

    /* Arrow icons bigger and bolder */
.custom-carousel-btn .carousel-control-prev-icon,/* find an element with class ,then inside it find an element with class */
.custom-carousel-btn .carousel-control-next-icon {
    width: 30px  ;
    height: 30px  ;
    background-size: 100% 100%  ;
}


/* Hover effect for arrows */
.custom-carousel-btn:hover {
    background-color: #8e71c3  ;  /* lighter purple on hover */
    opacity: 1  ;
    transform: scale(1.1)  ; /* bigger about 10px */
}

/* Position arrows correctly */
.carousel-control-prev.custom-carousel-btn {
    left: -25px  ;
}

.carousel-control-next.custom-carousel-btn {
    right: -25px  ;
}
.tech-badge{
    background-color: rgba(191, 0, 255, 0.932);
}
